<!-- Primary Meta Tags -->
<title>Everything Semester 5! :tada: | Semester 5</title>
<meta name="title" content="Everything Semester 5! :tada: | Semester 5">
<meta name="description" content="Everything Semester 5!">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://solutions.sem5.tk/">
<meta property="og:title" content="Everything Semester 5! :tada: | Semester 5">
<meta property="og:description" content="Everything Semester 5!">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://solutions.sem5.tk/">
<meta property="twitter:title" content="Everything Semester 5! :tada: | Semester 5">
<meta property="twitter:description" content="Everything Semester 5!">
<meta property="twitter:image" content="">
